<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.SeleniumScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAddStudent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logOutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddTeacher</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createSubjectTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeLanguageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDeleteStudentTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
