<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9bad6f">  <td>23/06/06 20:54:21</td>   <td>0</td> <td title="&gt;&gt;TestScenario.init()[pri:0, instance:tests.TestScenario@1efbd816]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1917513796</td>   <td></td> </tr>
<tr bgcolor="9bad6f">  <td>23/06/06 20:54:23</td>   <td>2362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.loginUser()[pri:0, instance:tests.TestScenario@1efbd816]">loginUser</td> 
  <td>main@1917513796</td>   <td></td> </tr>
<tr bgcolor="9bad6f">  <td>23/06/06 20:54:24</td>   <td>3030</td> <td title="&lt;&lt;TestScenario.quit()[pri:0, instance:tests.TestScenario@1efbd816]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1917513796</td>   <td></td> </tr>
</table>
