<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.changeLanguageTest()[pri:2, instance:tests.SeleniumScenario@174d20a]">changeLanguageTest</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:08</td>   <td>3795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.createSubjectTest()[pri:0, instance:tests.SeleniumScenario@174d20a]">createSubjectTest</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:40:59</td>   <td>-4925</td> <td title="&gt;&gt;SeleniumScenario.initalize()[pri:0, instance:tests.SeleniumScenario@174d20a]">&gt;&gt;initalize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:02</td>   <td>-2436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.login()[pri:0, instance:tests.SeleniumScenario@174d20a]">login</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:20</td>   <td>15555</td> <td title="&lt;&lt;SeleniumScenario.quitDriver()[pri:0, instance:tests.SeleniumScenario@174d20a]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:05</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.testAddStudent()[pri:0, instance:tests.SeleniumScenario@174d20a]">testAddStudent</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:03</td>   <td>-1629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.testAddTeacher()[pri:1, instance:tests.SeleniumScenario@174d20a]">testAddTeacher</td> 
  <td>main@967765295</td>   <td></td> </tr>
<tr bgcolor="bd618c">  <td>22/03/03 18:41:09</td>   <td>4916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumScenario.testDeleteStudentTest()[pri:0, instance:tests.SeleniumScenario@174d20a]">testDeleteStudentTest</td> 
  <td>main@967765295</td>   <td></td> </tr>
</table>
